

html{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background: #fffdf5;
}

*, ::before, ::after{
    box-sizing: inherit;
}

nav{
    border-bottom: 1px solid #9c6e79;
    padding: .5rem;

}

nav > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav > ul > li{
    margin: 0;
    display: inline-block;
    margin: .5rem;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.clearfix::after{
    content:"";
    clear: both;
    display: table;
}

/* Style Link */

nav a:link, nav a:visited, nav a:active{
    text-decoration: none;
    color: antiquewhite;
}

nav a:hover{
    text-decoration: none;
    color: beige;
}

footer{
    margin: 2em .5rem;
    padding: .5rem;
    border-top: 1px solid #9c6e79;
}

/* styling images*/

img{
    max-width: 300px;
    width: 50%;
    border: 1px solid #9c6e79;
    border-radius: 10px;
    margin: .75rem;
}

.container{
    margin: 0 auto;
    width: 80%;
    counter-reset: article;
}

article > h1::before{
    counter-increment: article; /* increase the value of article by 1*/
    content: "Article" counter(article) ":"; /* display the word "Article", the vlaue of the article counter, and a colon before the content of each h1*/
    color: blue;
}

/*Styling circles*/

.circle{
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: .5rem;
    background-color: #9c6e79;
    color: black;
    font: 2rem;
    text-align: center;
}

.vcenter{
    line-height: 200px;

}

.vcenter{
    line-height: 200px;
    margin: 0 calc((100% - 800px)/8);
}